/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
.right-column {
  width: 35%;
  margin-top: 60px;
}
/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
 
.left-column img.active {
  opacity: 1;
}
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
/* Cable Configuration */
.quantity-choose {
  margin-bottom: 20px;
}
 
.quantity-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.quantity-choose button:hover,
.quantity-choose button:active,
.quantity-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.quantity-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.quantity-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.quantity-config a:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 /* Popup */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;

}
.btn {
	padding: 10px 60px;
	background: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	border-radius: 30px;
}
.popup {
	width: 400px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}
.open-popup {
	visibility: visible;
	top: 50%;
	transform: translate(-50%,-50%) scale(1);
}
.popup img{
	width: 100px;
	margin-top: -50px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 10px;
}
.popup button {
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #6fd649;
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup bottom{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #6fd649;
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
/* End Popup */
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}
/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

h1 {
  text-align: center;
}
h5 {
  text-align: center;
}
.card-text {
	text-align: center;
}
#team {
	border-radius: 50%;
}
.card {
	border-radius: 50px 50px;
}
/* Changing the background colour for the header */

header {
	background-color: #fff0e0;
	
}
.fw-light {
	color: black;
}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;

}
.navbar-collapse {
	text-align: center;
	
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Add some content at the bottom of the video/page */
.content {
  position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}