/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
h1 {
  text-align: center;
}
h5 {
  text-align: center;
}
.card-text {
	text-align: center;
}
#team {
	border-radius: 50%;
}
.card {
	border-radius: 50px 50px;
}
/* Changing the background colour for the header */

header {
	background-color: #fff0e0;
	
}
.fw-light {
	color: black;
}
/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;

}
.navbar-collapse {
	text-align: center;
	
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Add some content at the bottom of the video/page */
.content {
  position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0);
  color: #FFFFFF;
  width: 100%;
  padding: 20px;
}

#myBtn:hover {
  background: #ddd;
  color: white;
}